<%- include('partials/header'); -%>
<div  class="container" > 
    <div class="row form-row">
        <div class="col-md-12">
            <h3>Login</h3> 
            <form class="login-form" action="/login" method="POST">
                
                <input class="login-input" type="text" name="username" placeholder="username">
                <input class="login-input" type="password" name="password" placeholder="password">
                <input type="submit" class="btn btn-primary btn-lg login-form" value="Login">
            </form>
        </div>
    </div>
</div>
