.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display:inline;
}

.pull-right{
    padding-right: 5px;
}

.login-form{
    display: block;
}

.login-input{
    display: block;
    width: 10em;
}

.form-row{
    padding-left: 50%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  